html {
    width: 100vh;
    height: 100vh;
}

body {
    text-align: center;
}

#grid-container {
    max-width: max-content;
    margin: auto;
}

.grid-div {
    margin: 0;
    border: 1px solid black;
}

.black-background {
    background-color: black;
}
